[user]
  email = costa.marcos.pro@gmail.com
  name = Marcos Costa

[core]
  editor = vim
  excludesfile = ~/.gitignore

[merge]
  tool = meld

[alias]
  st = status -uall
  co = checkout
  cam = commit -am
  caa = commit --amend --no-edit
  br = "!git --no-pager branch --sort=committerdate"
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
  f = fetch origin -p
  d = diff
  df = diff --name-only # files
  ds = diff --staged
  r = reset
  rh = reset --hard
  nbr = "!f() { git checkout -b marcospinto.$1; }; f"
  gone-br = "!git fetch -p; git for-each-ref --format '%(refname) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {sub(\"refs/heads/\", \"\", $1); print $1}' | xargs git br -D"

  l = log
  lo = log --oneline
  l1 = log -1
  logg = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold cyan)%h%C(reset) - %C(yellow)[%ar]%C(reset) %C(white)%s%C(reset)%C(green bold)%d%C(reset) %C(dim white)- %aN%C(reset)'

  rb = rebase
  rbi = rebase -i
  rbc = rebase --continue
  rba = rebase --abort

  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  listignored = "!git ls-files -v | grep -e \"^[hsmrck]\""

  wip = "!git add . && git commit --no-verify -am WIP"

[color "status"]
  added = green
  changed = yellow
  untracked = red

[color "diff"]
  whitespace = red reverse

[push]
  default = current

[mergetool]
  keepBackup = false
